
#root {
  max-width: none;
  margin: 0;
  padding: 0;
  text-align: left;
  background-color: white;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em rgba(81, 56, 237, 0.6));
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em rgba(81, 56, 237, 0.6));
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
  border-radius: 1.5rem;
  overflow: hidden;
}

.read-the-docs {
  color: #888;
}

/* Global gradient border card style */
.gradient-card-container {
  position: relative;
  border-radius: 1.5rem;
  padding: 2px;
  background: linear-gradient(90deg, #5138ED 0%, #9b87f5 100%);
  overflow: hidden;
}

.gradient-card-content {
  background-color: white;
  border-radius: calc(1.5rem - 2px);
  height: 100%;
  width: 100%;
  padding: 1rem;
}
